<form method="post" action="{{ path('planet_delete', {'id': planet.id}) }}" onsubmit="return confirm('voulez-vous vraiment supprimer cette planète?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ planet.id) }}">
    <button class="bt btn-custom mt-5">Delete</button>
</form>
