{% extends 'base.html.twig' %}

{% block title %}Editer Planete{% endblock %}

{% block body %}
    <div class="mt-5 ml-5 mr-5 mb-5">
        <h1>Editer une Planète</h1>

        {{ include('planet/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('planet_index') }}">back to list</a>

        {{ include('planet/_delete_form.html.twig') }}
    </div>
{% endblock %}
