{% extends 'base.html.twig' %}

{% block title %}Nouvelle Planete{% endblock %}

{% block body %}
    <div class="mt-5 ml-5 mr-5 mb-5">
        <h1>Nouvelle Planète</h1>

        {{ include('planet/_form.html.twig') }}

        <a href="{{ path('planet_index') }}" class="btn btn-custom mt-5">Retour</a>
    </div>
{% endblock %}
