{% extends 'base.html.twig' %}

{% block title %}Nouveau Chapitre{% endblock %}

{% block body %}
    <div class="mt-5 mb-5 ml-5 mr-5">
        <h1>Créer nouveau Chapitre</h1>

        {{ include('chapter/_form.html.twig') }}

        <a href="{{ path('chapter_index') }}" class="btn btn-custom">Retour</a>
    </div>
{% endblock %}
