{% extends 'base.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}
    <div class="mt-5 mb-5 mr-5 ml-5 d-flex flex-column justify-content-center">
        <h1 class="text-center">Vous avez passé le test avec succès !</h1>
        <p class="text-center mt-3 mb-5">Vous débloquez un badge.</p>
        <div class="d-flex justify-content-center align-items-center">
            <a href="{{ path('app_quizz') }}" class="btn btn-custom mt-3">Retour aux quizz</a>
        </div>
        <div class="win">
        </div>
    </div>
{% endblock %}
