{% extends 'base.html.twig' %}

{% block title %}Editer Question{% endblock %}

{% block body %}
    <div class="mt-5 mb-5 ml-5 mr-5">
        <h1>Editer une Question</h1>

        {{ include('question/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('question_index') }}" class="btn btn-custom mt-3">Retour</a>

        {{ include('question/_delete_form.html.twig') }}
    </div>
{% endblock %}
