{% extends 'base.html.twig' %}

{% block title %}Nouvelle Question{% endblock %}

{% block body %}
    <div class="mt-5 ml-5 mr-5 mb-5">
        <h1>Nouvelle Question</h1>

        {{ include('question/_form.html.twig') }}

        <a href="{{ path('question_index') }}" class="btn btn-custom mt-5">Retour</a>
    </div>
{% endblock %}
