<form method="post" action="{{ path('user_image_delete', {'id': user_image.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette image??');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_image.id) }}">
    <button class="btn btn-custom mt-5">Supprimer</button>
</form>
