{% extends 'base.html.twig' %}

{% block title %}Nouvelle Image utilisateur{% endblock %}

{% block body %}
    <div class="mt-5 ml-5 mr-5 mb-5">
        <h1>Nouvelle Image utilisateur</h1>

        {{ include('user_image/_form.html.twig') }}

        <a href="{{ path('user_image_index') }}" class="btn btn-custom mt-5">Retour</a>
    </div>
{% endblock %}
