{% extends 'base.html.twig' %}

{% block title %}Nouveau Contenu{% endblock %}

{% block body %}
    <div class="mt-5 mb-5 mr-5 ml-5">
        <h1>Nouveau Contenu</h1>

        {{ include('content/_form.html.twig') }}

        <a href="{{ path('content_index') }}" class="btn btn-custom">Retour</a>
    </div>
{% endblock %}
