<form method="post" action="{{ path('multimedia_delete', {'id': multimedia.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette image?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ multimedia.id) }}">
    <button class="btn btn-custom mt-5">Supprimer</button>
</form>
