body {
  background-color: $black;
  color: $white;
  animation: neon .08s ease-in-out infinite alternate;
  font-family: $body-text;
}

h1, h2, h3, h4, h5 {
  font-family: $title;
}

h1 {
  font-size: 5rem;
}

.btn-custom {
  background-color: $black;
  color: $white;
  animation: buttoneon .08s ease-in-out infinite alternate;
  &:hover {
    background-color: $white;
    color: $black;
  }
}

a {
  color: $white;
  &:hover {
    color: $yellow;
    text-decoration: none;
  }
}

.lactee {
  height: 150px;
  width: 99vw;
  background-image: url("../images/lactee.png");
  border: solid 0.3em rgba(#000, .4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes neon {
  from {
    text-shadow:
            0 0 6px rgba(202,228,225,0.92),
            0 0 30px rgba(202,228,225,0.34),
            0 0 12px rgba(30,132,242,0.52),
            0 0 21px rgba(30,132,242,0.92),
            0 0 34px rgba(30,132,242,0.78),
            0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
            0 0 6px rgba(202,228,225,0.98),
            0 0 30px rgba(202,228,225,0.42),
            0 0 12px rgba(30,132,242,0.58),
            0 0 22px rgba(30,132,242,0.84),
            0 0 38px rgba(30,132,242,0.88),
            0 0 60px rgba(30,132,242,1);
  }
}

@keyframes buttoneon {
  from {
    box-shadow:
            0 0 6px rgba(202,228,225,0.92),
            0 0 30px rgba(202,228,225,0.34),
            0 0 12px rgba(30,132,242,0.52),
            0 0 21px rgba(30,132,242,0.92),
            0 0 34px rgba(30,132,242,0.78),
            0 0 54px rgba(30,132,242,0.92);
  }
  to {
    box-shadow:
            0 0 6px rgba(202,228,225,0.98),
            0 0 30px rgba(202,228,225,0.42),
            0 0 12px rgba(30,132,242,0.58),
            0 0 22px rgba(30,132,242,0.84),
            0 0 38px rgba(30,132,242,0.88),
            0 0 60px rgba(30,132,242,1);
  }
}

.intro {
  text-shadow: 0 0 0px;
  color: #d9d9d9;
  border: 1px;
  border-style: dashed double;
  border-radius: 5px;
  border-color: #ebebeb;
}

.spaceship {
  opacity: 0.1;
  height: 200px;
  background-image: url("../images/spaceship.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.earth {
  opacity: 0.1;
  height: 200px;
  background-image: url("../images/earth.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.moon {
  opacity: 0.1;
  height: 165px;
  background-image: url("../images/moon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.quizzName {
  padding: 5px;
  color: #d9d9d9;
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #ebebeb;
}

@media screen and (max-width: 460px) {
  .lactee{
    height: 250px;
  }
}

.win{
  opacity: 0.8;
  height: 400px;
  background-image: url("../images/win.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
