nav {
  background-color: $black;
  font-size: 1.2rem;
  .navbar-brand {
    font-size: 1.5rem;
    .logo {
      font-size: 1.8rem;
    }
  }

  .navbar-toggler-icon {
    background-color: $white;
    border-radius: 50%;
    animation: buttoneon .08s ease-in-out infinite alternate;
  }

  .dropdown-menu {
    background-color: $black;
    .dropdown-item {
      color: $white;
      &:hover {
        background-color: $white;
        color: $black;
      }
    }
  }

  li {
    list-style-type: none;
  }
}

