{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Star Maniac{% endblock %}

{% block body %}

    <h1 class="text-center">Star Maniac</h1>
    <div>
        <img src="{{ asset('build/images/planetindex.png') }}" alt="Planet">
    </div>

    <div>

    </div>

{% endblock %}
