{% extends 'base.html.twig' %}

{% block title %}Editer Utilisateur{% endblock %}

{% block body %}
    <div class="mt-5 mb-5 ml-5 mr-5">
        <h1>Editer Utilisateur</h1>

        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('user_index') }}" class="btn btn-custom">Retour</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
