{% extends 'base.html.twig' %}

{% block title %}Nouveau Quizz{% endblock %}

{% block body %}
    <div class="mt-5 mr-5 mb-5 ml-5">
        <h1>Nouveau Quizz</h1>

        {{ include('quizz/_form.html.twig') }}

        <a href="{{ path('quizz_index') }}" class="btn btn-custom">Retour</a>
    </div>
{% endblock %}
